$red : #ff0000;
$maroon: #85144b;
$olive: #3D9970;
$silver: #dddddd;
$green: #39bda8;
$cadetblue: CadetBlue;
$cornflowerblue: CornflowerBlue;
$floralwhite: FloralWhite;
$indianred: IndianRed;
$lightslategray: LightSlateGray;
$lightblue: LightBlue;
$lightseagreen: LightSeaGreen;
$rebeccapurple: RebeccaPurple;
$slategray: SlateGray;